<body>
<h1>.................................................</h1>
<h1>   Created by {{author}} </h1>
<h2>   <span style="color:red;"> Date: {{date}} </span></h2>
<h1>.................................................</h1>
</body>

